.header {
    padding: 2rem;
    background-color: rgb(31, 57, 51);
}

.header ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.header a {
    color: #e5e5e5;
    font-size: 1.5rem;
    text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
    color: #e0e5e3;
}