* {
  box-sizing: border-box;
}

:root {
  font-family: Rubik, Inter, Avenir, Helvetica, Arial, sans-serif;

  color: rgb(0, 0, 0);
  background-color: #ebe2da;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  text-align: center;
  background-blend-mode: color-dodge;
  background-image: url("https://images.pexels.com/photos/702251/pexels-photo-702251.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, p {
  text-align: center;
}

label {
  font-weight: 400;
  color: #2f221d;
}

#error-content {
  text-align: center;
}